header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    z-index: 2;

}

nav>ul>li {
    display: inline-flex;
    Padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;


}

nav a:visited,
nav a:link {
    color: white;
    text-decoration: none;
}

.bg-chef {
    display: fixed;
    flex-direction: column;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
    margin: 0em;
    position: relative;
}

.bg-chef:before {
    content: "";
    background-image: url(penandthesword.png);
    position: absolute;
    background-size:contain;
    background-repeat: repeat;
    background-attachment: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .5;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 2.5em;
}

p {
    color: black;
}

ul {
    color: black;
}

section.ecmlogo {
    display: flex;
    margin-top: 1em;

}



section {
    display: absolute;
    width: 100%;
    padding-bottom,
    : 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    position: static;
}

section.about {}

section.objective {}

section.myskillset {}

section.experience {}

section.myresume {}

section.contact {}

footer {
    display: block;
    position: bottom;
    bottom: 10px;

}